RewriteEngine On

# redirect all api calls to /api/index.php
RewriteRule ^api/((?!index\.php$).+)$ api-app/index.php [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f

# otherwise, serve index.html app
RewriteRule ^(.*)$ ui-app/index.html [QSA,L]

php_flag display_errors 1
AddDefaultCharset utf-8